/* src/App.css */
/* Adjust top padding to accommodate fixed navbar */
body {
  background-color: #0762AE; /* Para browser q não suportem gradiente */    
  background-image: linear-gradient(#0260A6, #00A0AB);
  padding: 0px;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Optional: Style for iframe container */
.iframe-container {
  margin-top: 1%;
  padding-top: 3%;
  overflow: hidden;
}
.iframe-sizing{
  width: 98%;
  height: 90%;
  border: none;
  flex-grow: 1;
  padding-bottom: 2.5%;
}

/* Optional: Custom styles for value boxes */
.card-title {
  font-size: 1.5rem;  
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}
.value-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0;
  margin-bottom: 20px;
}
.value-box h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.value-box p {
  font-size: 1rem;
  color: #6c757d;
}
/* Ajustando primeiro card com nome */
.card-title-first {
  font-size: 1.75rem;
  color: #ffffff; 
}
.card-text-first {
  font-size: 1rem;
  color: #ffffff; 
}
.value-box-first {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border: 0;
  color: white;
}
.info-text {
  margin: 40px 0;
  text-align: center;
  text-align: justify;
  font-size: 1.2rem;
  color: white;
}
.chart-container {
  background-color: #ffffff;
  border-radius: 8px;     
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.texto-fonte{
  font-size: 10pt;
}
/* Ajustando tamanho do container (espaçamento extra lateral) */
.container-fluid{
  margin: 0px;
  padding: 1% !important;
}
/* Ajustando barra de scroll duplicada na dashboard */
/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.app-container .flex-grow-1 {
  overflow: hidden; /* Prevent outer scrollbar */
  padding-top: 0px !important;
  margin-top: 0px !important;
}